<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aluminum (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Aluminum (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9453C90523D32A3B00E7FCFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9453C91923D32ADF00E7FCFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A52EA02446F2B4006806D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A52EB62446F5AE006806D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A52F0924470C3C006806D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
